@import '../../styles/config.module.scss';

.bgContainer {
    background: black;
}
.container {
    max-width: 1136px;
    margin: auto;
    padding: 80px 12px;

    display: flex;
    justify-content: space-between;
}

.leftArea {
    display: flex;
    flex-direction: column;

    h1{
        font-size: 72px;
    }
    span {
        font-size: 32px;
        margin-top: 24px;
    }

    .buttonArea {
        display: flex;
        gap: 48px;
        margin-top: 48px;
    }

    .gitHub, .buttonContact {
        border-radius: 50px;
        font-weight: 700;
        font-size: 18px;
        width: 163px;
        @extend %reset-link;
    }

    .gitHub {
        border: 2px solid var(--orange);
        padding: 12px 24px;
        
        gap: 12px;
        font-weight: 500;

        &:hover {
            background: var(--orange);
        }
    }

    .buttonContact {
        background: var(--orange);
    }

    .carouselArea {
        margin-top: 190px;
        font-size: 18px;

        header {
            display: flex;
            align-items: center;
            gap: 12px;
        }
    }

}
.dark {
    background: var(--dark-blue);
    color: var(--white);
}
.light {
    background: var(--light-gray);
    color: var(--black);
}

.containerSkills {
    display: flex;
    justify-content: space-around;
    padding: 24px;
    align-items: center;

    &.dark {
        background: var(--light-gray);
    }
    &.light {
        background: var(--dark-blue);
    }
}
.skillsLeft {
    border: 5px solid var(--dark-blue);
    border-radius: 12px;
    background: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 24px;
    color: var(--black);

    &.light{
        color: var(--white);
        border: 5px solid var(--light-gray);
    }

    .skillsContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: inherit;
        color: inherit;
        gap: 12px;
        h3 {
            font-size: 32px;
        }
        span {
            font-size: 22px;
        }

        &.light{
            background-image: url('/images/bg-skills-light.png');
        }
    }
}

.contactIcons {
    display: flex;
    align-items: center;
    gap: 48px;
}

.skillsTech {
    display: flex;
    flex-direction: column;
    align-items: center;
    span {
        font-weight: bold;
    }
    .icons {
        display: flex;
        margin-top: 24px;
        align-items: center;
        gap: 15px;
        max-width: 50%;
        flex-wrap: wrap;
    }

    .iconsOthers {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 24px;
        gap: 12px;

        div {
            display: flex;
            gap: 12px;
        }
    }
}

@media (max-width: $small) {
    .container {
        flex-direction: column;
        padding-top: 96px;
    }

    .leftArea {
        text-align: center;
        h1 {
            font-size: 45px;
        }
    }

    .containerSkills {
        flex-direction: column;
    }

    .skillsLeft {
        border: none;
    }

    .skillsTech {
        .icons {
           max-width: 80%; 
        }
    }
}