@import '../../styles/config.module.scss';

.containerDesktop {
    max-width: 1136px;
    margin: auto;
    
    display: flex;
    padding: 12px;
    justify-content: space-between;
}

.containerMobile{
    display: none;
}

.navLeft {
    display: flex;
    align-items: center;
    gap: 48px;
}
.logo, .link{
    @extend %reset-link;
    color: var(--orange);
    align-items: flex-end;
}
.logo{
    font-size: 48px;
    font-weight: bold;
}
.link{
    font-size: 18px;
    font-weight: 700;
}

.navRight {
    display: flex;
}

.navRight {
    @extend %flex-center;
    gap: 24px;

    img {
        cursor: pointer;
    }
}

.dark {
    background: var(--dark-blue);
}

.light {
    background: var(--light-gray);
}

@media (max-width: $medium) {
    .containerDesktop {
        display: none;
    }
    .containerMobile {
        display: flex;
        width: 100%;
        justify-content: space-between;

        .navLeft {
            padding-left: 12px;
        }
    }

    .menuMobile {
        background: rgba(229, 229, 229, .95);
        display: flex;
        position: absolute;
        width: 100%;
        flex-direction: column;
        align-items: center;
        color: var(--black);
        padding: 12px;
        gap: 24px;
        font-size: 24px;
        font-weight: 500;
        z-index: 10;

        .menuMobileLink {
            text-decoration: none;
            color: inherit;
        }

        .iconsMenuMobile {
            display: flex;
            align-items: center;
            gap: 24px;
        }
    }

    .menuMobileHeader {
        display: flex;
        justify-content: space-between;
        width: 100%;

        span {
            margin-left: 22px;
        }
    }
}